.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



@font-face {
  font-family: newfont;
  src: url(font.woff2);
}

*{

  font-family: newfont;

}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


.card{

  margin: 5px;
  border-radius: 10px;
}



.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
